*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  background-image: radial-gradient(
      circle at top left,
      #f1f5f9 20%,
      transparent 20%
    ),
    radial-gradient(circle at bottom right, #f1f5f9 20%, transparent 20%);
  background-size: 200px 250px;
  font-family: "Outfit", sans-serif; /* Google font */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh; /* Full viewport height */
  padding: 20px;
  background-position: top right;
}

.container {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%; /* Full viewport height */
  border-radius: 16px;
  text-align: center;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Limit width to 375px */
}
.card {
  background-color: white;
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 16px;
  cursor: zoom-in;
  flex-shrink: 0;
  max-height: 90vh; /* Limit height to 90% of viewport */
  overflow-y: auto; /* Enable scrolling if content overflows */
}

h1 {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-size: 22px;
  padding-top: 15px;
  width: 90%;
  text-align: center;
}
p {
  color: hsl(216, 15%, 48%);
  font-size: 15px;
  text-align: center;
  font-weight: 400;
}
img {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0px;
  border-radius: 10px;
}

.class-content {
  position: relative;
  top: -16px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
